<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseList">
        <h2>These are your income and expenses for the last 12 months: </h2>
        <div>
            <table >
                <tr>
                    <th>Month</th>
                    <th>Income</th>
                    <th>Expense</th>
                </tr>
<!--                <tr th:each="product : ${expenses}">-->
<!--                    <td th:id="'date_' +${product.getId()}"th:text="${product.getDate()}"></td>-->
<!--                    <td >-->
<!--                        <a th:id="'payment_request_' +${product.getId()}"th:href="@{/paymentrequest(expenseId=${product.getId()})}" th:text="${product.getDescription()}"></a>-->
<!--                    </td>-->
<!--                    <td th:id="'amount_' +${product.getId()}"th:text="${product.getAmount()}"></td>-->
<!--                    <td th:id="'request_' +${product.getId()}"th:text="${product.totalAmountOfPaymentsRequested()}"></td>-->
<!--                    <td th:id="'received_' +${product.getId()}"th:text="${product.totalAmountForPaymentsReceived()}"></td>-->
<!--                    <td th:id="'nett_' +${product.getId()}"th:text="${product.amountLessPaymentsReceived()}"></td>-->
<!--                </tr>-->
            </table>
        </div>
    </section>
</div>
</body>

</html>